{{define "content"}}
<main class="content -two-columns">
    <section class="tasks">
        <div class="content-head">
            <h2 class="content-head__title">Task</h2>
            <button type="button" id="addTaskModalTrigger" class="content-head__button button -circle"
                    aria-label="Create Task" aria-haspopup="true" aria-expanded="false">
                <svg class="icon -sz-md" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" id="icon_add" width="18"
                     height="18">
                    <path d="M10 8V1H8v7H1v2h7v7h2v-7h7V8z" fill="#fff"></path>
                </svg>
            </button>
        </div>
        <ul class="task-list">
        {{range .TaskRows}}
            <li class="task-list-item js_edit-task-trigger" tabindex="0">
                <input class="task-list-item__task_id" type="hidden" value="{{.ID}}">
                <input class="task-list-item__task_status" type="hidden" value="{{.Status}}">
                <span class="task-list-item__project-name">{{.ProjectName}}</span>
                <span class="task-list-item__task-name">{{.Name}}</span>
                <span class="task-list-item__status"><span class="pill -type-{{.Status}}">{{.StatusName}}</span></span>
            </li>
        {{end}}
        </ul>
    </section>

    <section class="project">
        <div class="content-head">
            <h2 class="content-head__title">Project</h2>
            <button type="button" id="addProjectModalTrigger" class="content-head__button button -circle"
                    aria-label="Create Project" aria-haspopup="true" aria-expanded="false">
                <svg class="icon -sz-md" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" id="icon_add" width="18"
                     height="18">
                    <path d="M10 8V1H8v7H1v2h7v7h2v-7h7V8z" fill="#fff"></path>
                </svg>
            </button>
        </div>
        <ul class="project-list">
        {{range .Projects}}
            <li class="project-list-item">
                <a href="/project/{{.Id}}">{{.Name}}</a>
            </li>
        {{end}}
        </ul>
    </section>

    <section class="activity">
        <h2>Activity</h2>
        <ul class="activity-list">
        {{range .ActivityRows}}
            <li class="activity-list-item">
                <span class="activity-list-item__date">{{.DateTime}}</span>
                <span class="activity-list-item__text">{{.Text}}</span>
            </li>
        {{end}}
        </ul>
    </section>

</main>

{{/*<!-- Add Task Modal -->*/}}
<div id="addTaskModal" aria-labelledby="addTaskModalLabel" role="dialog" aria-modal="true" class="modal -p-center"
     aria-hidden="true">
    <div class="modal__content form-fields">
        <form action="/task" method="post">
            <div class="field">
                <label for="add-task-project">Project</label><br>
                <span class="selectbox-wrapper">
          <select id="add-task-project" class="selectbox" name="project_id">
          {{range .Projects}}
              <option value="{{.Id}}">{{.Name}}</option>
          {{end}}
          </select>
        </span>
            </div>
            <div class="field">
                <label for="add-task-name">Task Name</label><br>
                <input type="text" id="add-task-name" class="input-text" name="name">
            </div>
            <div class="button-aria">
                <input type="submit" class="button button--normal -sz-sm" id="addTaskModalLabel" value="Create Task">
            </div>
            <button type="button" class="modal__close js_modal-close button -circle -remove-style"><span
                    class="icon icon-close -medium -inverse" aria-label="Close"></span></button>
        </form>
    </div>
    <div class="modal-mask js_modal-mask" tabindex="-1"></div>
</div>

{{/*<!-- Edit Task Modal -->*/}}
<div id="editTaskModal" aria-labelledby="editTaskModalLabel" role="dialog" aria-modal="true" class="modal -p-center"
     aria-hidden="true">
    <div class="modal__content form-fields">
        <form method="post" id="editTaskForm">
            <div class="field">
                <label for="edit-task-name">Task Name</label><br>
                <input type="text" id="edit-task-name" class="input-text" value="" name="name">
            </div>
            <div class="field">
                <label for="edit-task-status">Status</label><br>
                <span class="selectbox-wrapper">
              <select id="edit-task-status" class="selectbox" name="status_id">
                {{range .TaskStatuses}}}
                <option value={{.Status}}>{{.StatusName}}</option>
                {{end}}}
              </select>
        </span>
            </div>
            <div class="button-aria">
                <input type="submit" class="button button--normal -sz-sm" id="editTaskModalLabel" value="Edit Task">
            </div>
        </form>
        <button type="button" class="modal__close js_modal-close button -circle -remove-style"><span
                class="icon icon-close -medium -inverse" aria-label="Close"></span></button>
    </div>
    <div class="modal-mask js_modal-mask" tabindex="-1"></div>
</div>

<!-- Add Project Modal -->
<div id="addProjectModal" aria-labelledby="addProjectModalLabel" role="dialog" aria-modal="true" class="modal -p-center"
     aria-hidden="true">
    <div class="modal__content form-fields">
        <form action="/project" method="post">
            <div class="field">
                <label for="project-name">Project Name</label><br>
                <input type="text" id="project-name" class="input-text" name="name">
            </div>
            <div class="button-aria">
                <input type="submit" type="button" class="button button--normal -sz-sm" id="addProjectModalLabel"
                       value="Create Project">
            </div>
            <button type="button" class="modal__close js_modal-close button -circle -remove-style"><span
                    class="icon icon-close -medium -inverse" aria-label="Close"></span></button>
        </form>
    </div>
    <div class="modal-mask js_modal-mask" tabindex="-1"></div>
</div>

<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function($) {
        const appMain = $("#appMain");

        const addTaskModalTrigger = $("#addTaskModalTrigger");
        const addTaskModal = $("#addTaskModal");
        addTaskModalTrigger.on("click", function () {
            const expanded = addTaskModalTrigger.attr("aria-expanded") === "true";
            addTaskModal.attr("aria-hidden", expanded);
            addTaskModalTrigger.attr("aria-expanded", !expanded);
            appMain.attr({"tabindex":"-1","aria-hidden":!expanded});
            if (!expanded) {
                addTaskModal.find("input, select").eq(0).focus();
            }
        });

        const editTaskModalTrigger = $(".js_edit-task-trigger");
        const editTaskModal = $("#editTaskModal");
        editTaskModalTrigger.keypress(function (e) {
            if(e.which === 13) {
                editTaskModal.attr("aria-hidden", "false");
                appMain.attr({"tabindex":"-1","aria-hidden":"true"});
                editTaskModal.find("input, select").eq(0).focus();
            }
        });
        editTaskModalTrigger.on("click", function () {
            const hidden = editTaskModal.attr("aria-hidden") === "true";
            editTaskModal.attr("aria-hidden", !hidden);
            appMain.attr({"tabindex":"-1","aria-hidden": !hidden});
            if (hidden) {
                const taskName = $(this).children(".task-list-item__task-name").text();
                const taskStatus = $(this).children(".task-list-item__task_status").val();
                const taskId = $(this).children(".task-list-item__task_id").val();
                $("#editTaskForm").attr('action', "/task/" + taskId);
                $("#edit-task-name").val(taskName);
                $("#edit-task-status").val(taskStatus);
                editTaskModal.find("input, select").eq(0).focus();
            }
        });

        const addProjectModalTrigger = $("#addProjectModalTrigger");
        const addProjectModal = $("#addProjectModal");
        addProjectModalTrigger.on("click", function () {
            const expanded = addProjectModalTrigger.attr("aria-expanded") === "true";
            addProjectModal.attr("aria-hidden", expanded);
            addProjectModalTrigger.attr("aria-expanded", !expanded);
            appMain.attr({"tabindex": "-1", "aria-hidden": !expanded});
            if (!expanded) {
                addProjectModal.find("input, select").eq(0).focus();
            }
        });

        const userMenuModalTrigger = $("#userMenuModalTrigger");
        const userMenuModal = $("#userMenuModal");
        userMenuModalTrigger.on("click", function () {
            const expanded = userMenuModalTrigger.attr("aria-expanded") === "true";
            userMenuModal.attr("aria-hidden", expanded);
            userMenuModalTrigger.attr("aria-expanded", !expanded);
            appMain.attr({"tabindex":"-1","aria-hidden":!expanded});
        });


        $(".js_modal-mask, .js_modal-close").on("click", function () {
            addTaskModal.attr("aria-hidden", true);
            addTaskModalTrigger.attr("aria-expanded", false);
            editTaskModal.attr("aria-hidden", true);
            addProjectModal.attr("aria-hidden", true);
            addProjectModalTrigger.attr("aria-expanded", false);
            userMenuModal.attr("aria-hidden", true);
            userMenuModalTrigger.attr("aria-expanded", false);
            appMain.attr({tabindex: "0","aria-hidden":false});
        });
    });
</script>
{{end}}